# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Runtime data
*.pid
*.sqlite3

# Os files
.DS_Store

# IDE / editor
.vscode/
.idea/

# Sensitive data
config.py
data/cookies.json

# Generated schedule files
data/schedule.json
data/schedule.ics
